.sidebar {
  width: 220px;
  height: 100vh;
  background: linear-gradient(180deg, #192A51, #192A51); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;

  position: fixed;
  top: 0;
  left: 0;
}

.submenu-content {
  display: flex;
  align-items: center;
  gap: 10px;
}


.logo-section {
  display: flex;
  align-items: center;
  padding: 5px 10px; 
}

.logo {
  width: 75px;  
  height: 75px;
  object-fit: contain;
}


.brand {
  font-size: 30px;  
  font-weight: 600;
  margin: 0;
  margin-left: -10px;
  letter-spacing: 0.5px;
}

.zest {
  color: #ffffff;
}

.bot {
  color: #f4c542;
}


.divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.12);
  margin: 5px 15px;
}


.menu {
  margin-top: 15px;
  padding: 0 12px;
}


.menu a {
  text-decoration: none;
}


.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  color: #cbd5e1;
  transition: all 0.25s ease;
}


.arrow {
  margin-left: auto;
  font-size: 12px;
  transition: 0.3s;
}

.arrow.rotate {
  transform: rotate(180deg);
}


.submenu {
  padding-left: 35px;
  margin-top: 5px;
}


.submenu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  font-size: 13px;
  color: #cbd5e1;
  text-decoration: none;
  transition: 0.2s;
}


.submenu-item:hover {
  color: #ffffff;
}


.menu-item .icon {
  font-size: 15px;
  transition: 0.25s;
}


.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.08);
  transform: translateX(3px);
}


.menu-item.active {
  background: linear-gradient(135deg, #e2e8f0, #cfd6e2);
  color: #1e293b;
  font-weight: 600;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateX(5px);
}


.menu-item.active .icon {
  color: #1e293b;
}


.menu-item.active::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 60%;
  background-color: #f4c542;
  border-radius: 5px;
}


.menu-item {
  position: relative;
}


.logout-section {
  padding: 15px;
}


.logout-btn {
  width: 100%;
  background: #2a4270;
  border: none;
  padding: 12px;
  border-radius: 10px;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
}


.logout-btn:hover {
  background: #3b5a91;
  transform: translateY(-2px);
}


.logout-icon {
  font-size: 13px;
}