/* PAGE */
.Reset-page {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
  background: #f8f9fc;
}

/* CENTER PANEL */
.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FULL CENTER (USED IN RESET PAGE) */
.full-center {
  width: 100%;
  height: 100%;
}

/* CARD */
.Reset-card {
  width: 360px;
  padding: 40px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  width: 50px;
  display: block;
  margin: 0 auto 20px;  
}

/* TITLE */
.Reset-card h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

/* SUBTEXT */
.subtext {
  font-size: 12px;
  color: #777;
  margin-bottom: 25px;
}

/* INPUT GROUP */
.input-group {
  text-align: left;
  margin-bottom: 30px;
}

.input-group label {
  font-size: 16px;   
  font-weight: 600; 
  color: #333;
  margin-bottom: 8px;
  display: block;

}

.input-group input {
  width: 100%;
  padding: 11px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 11px;
  transition: 0.3s;
}

/* INPUT FOCUS */
.input-group input:focus {
  border-color: #1f2a44;
  outline: none;
  box-shadow: 0 0 2px rgba(74, 144, 226, 0.3);
}

/* BUTTON */
.SendOtp {
  width: 100%;
  padding: 12px;
  background-color: #1f2a44 !important;  
  border: none;
  color: #ffffff;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 5px; 
}

.SendOtp:hover {
  background-color: #162033 !important;
}

/* BACK LINK */
.back-link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px; 
  color: #1f2a44;
  transition: 0.3s;
  margin-left: 85px;
  margin-top: 15px;
}



.back-link a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .login-card {
    width: 90%;
    padding: 30px;
  }
}