/* PAGE */
.Reset-page {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
  background: #f8f9fc;
}

/* CENTER PANEL */
.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FULL CENTER (USED IN RESET PAGE) */
.full-center {
  width: 100%;
  height: 100%;
}

/* CARD */
.Reset-card {
  width: 360px;
  padding: 40px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* LOGO */
.logo {
  width: 120px;
  margin-bottom: 20px;
}

/* TITLE */
.Reset-card h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

/* SUBTEXT */
.subtext {
  font-size: 14px;
  color: #777;
  margin-bottom: 25px;
}

/* INPUT GROUP */
.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  font-size: 13px;
  color: #555;
  margin-bottom: 6px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 11px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.3s;
}

/* INPUT FOCUS */
.input-group input:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}

/* BUTTON */
.Reset-btn {
  width: 100%;
  padding: 12px;
  background: #1f2a44;
  border: none;
  color: #fff;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.Reset-btn:hover {
  background: #1f2a44;
}

/* BACK LINK */
.back-link {
  margin-top: 20px;
}

.back-link a {
  font-size: 14px;
  color: #4a90e2;
  text-decoration: none;
  transition: 0.3s;
}

.back-link a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .login-card {
    width: 90%;
    padding: 30px;
  }
}