/* Container */
.dashboard-container {
  @apply flex h-screen;
}

/* Sidebar */
.sidebar {
  @apply w-[230px] bg-[#1e335d] text-white p-5 flex flex-col;
}

.logo {
  @apply flex items-center text-[30px] mb-8 text-yellow-400;
}

.logo span {
  @apply text-white;
}

.logo-icon {
  @apply bg-white text-[#1e335d] px-2 py-1 rounded text-[12px];
}

/* Menu */
.sidebar ul {
  @apply list-none;
}

.sidebar ul li {
  @apply flex items-center gap-2 p-3 rounded-lg cursor-pointer;
}

.sidebar ul li.active {
  @apply bg-[#2e4a7d];
}

.sidebar ul li:hover {
  @apply bg-[#2e4a7d];
}

.menu-icon {
  @apply text-sm;
}

/* Main */
.main-content {
  @apply flex-1 bg-[#f5f6fa] p-5;
}

/* Header */
.header-row {
  @apply flex justify-between items-center mb-6;
}

.header-text h2 {
  @apply text-2xl;
}

.header-text p {
  @apply text-gray-500 text-sm mt-1;
}

/* Search */
.header-search {
  @apply flex items-center gap-4;
}

.header-search input {
  @apply w-[260px] px-4 py-2 rounded-full bg-gray-200 outline-none;
}

/* Cards */
.cards {
  @apply grid grid-cols-4 gap-5 max-lg:grid-cols-2 max-md:grid-cols-1;
}

.card {
  @apply bg-white p-5 rounded-xl shadow-md;
}

/* Icon */
.icon-box {
  @apply w-[60px] h-[60px] rounded-lg flex items-center justify-center text-2xl mb-4;
}
.icon-box svg {
  display: block;
  margin: auto;
}


/* Title */
.card h4 {
  @apply mb-2 font-semibold;
}


.card p {
  display: none;
}


.card:hover p {
  @apply text-xs text-gray-500 mb-3;
  display: block;
}
/* View Dashboard button */
.card button {
  @apply text-blue-600 text-[13px] font-medium flex items-center gap-1;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/*  Add arrow */
.card button::after {
  content: "→";
  @apply text-sm transition-all duration-300;
}

/* Hover effect */
.card button:hover {
  @apply text-blue-700;
}

.card button:hover::after {
  transform: translateX(4px);
}